/* 기본 설정 */
body {
  height: 100%;
}

/* 헤더 */
header {position: fixed;width: 100%;z-index: 20;}

header nav {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 70px;
  position: fixed;
  padding-left: calc((1903px - 1440px) / 2);
  padding-right: calc((1903px - 1440px) / 2);
  width: 100%;
}

header h1 {
  font-size: 30px;
}

header ul {
  display: flex;
  gap: 60px;
}

header ul li {}

/* 메인 컨텐츠 레이아웃 */
body .title{
  height: 100%;
  width: 100%;
}
body>.wrap{
  height: 920px;
}
body div.wrap div{
  display: flex;
  z-index: 1;
  width: 100%;
}

body div.wrap h2 {
  line-height: 1.2;
  align-self: center;
}

body div.wrap h2#title {
  font-size: 100px;
  color: white;
  font-weight: 900;
}

body div.wrap p {
  font-size: 16px;
  color: #291e0c;
  line-height: 1.6;
}
body .title video{
  
  position: absolute;
  top: 0;
  width: 100%;
  /*! height: 100%; */
  overflow: hidden;
  box-sizing: border-box;
}
/* 메인 섹션 */
main {}

main section {
  background-color: #fffcee;
}

/* Many 섹션 */
main section#many {
  background-image: url(../img/many.jpg);
  background-size: cover;
  position: relative;
}

main section#many .wrap {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 642px;
  padding: 80px;
}

/* 좌측 Article */
main section#many .wrap article {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1;
}

main section#many .wrap article h2 {
  font-size: 125px;
  color: white;
  line-height: 1;
  font-weight: 900;
  z-index: 1;
}

main section#many .wrap article p {
  font-size: 14px;
  color: white;
  z-index: 2;
  margin-top: 18px;
}

main section#many::before {
  content: "";
  background-color: rgba(39, 24, 6, 0.6);
  position: absolute;
  z-index: 0;
  width: 882px;
  height: 76px;
  top: 500px;
}

/* 좌우 컨테이너 */
.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 좌측 box (왼쪽 정렬) */
.left-section {
  width: auto !important;
  opacity: 1 !important;
}

/* 우측 box (오른쪽 정렬) */
.right-section {
  grid-column: 2;
}

/* Box 내부 리스트 */
main section#many .box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main section#many .box ul li {
  background-color: #efce9b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 642px;
  width: 642px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  word-wrap: break-word;
  gap: 50px;
}

main section#many .box ul li::after {
  content: "";
  display: block;
  width: 250px;
  height: 180px;
  background-color: #ccc;
}

/* 리스트 내부 타이틀 스타일 */
main section#many .box ul li h3 {
  color: #291e0c;
}

/* Stack 섹션 */
main section#stack div {
  color: #291e0c;
  width: 1440px;
}

main section#stack div span {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid;
  align-items: end;
  width: 1440px;
  padding-bottom: 16px;
}

/* Stack 레이아웃 */
main section#stack div.stackp {
  display: grid;
  grid-template-columns: auto auto;
  /*! gap: 20px; */
}

/* 좌측 디자인 & 퍼블리싱 정보 */
main section#stack div.left{
  
  grid-column: 1;
  grid-row: 1;
  /*! z-index: 1; */
}
main section#stack div.left h3 {
  
}

main section#stack div.left h3#design {
}

main section#stack div.left h3#publishing {
  grid-column: 1;
  grid-row: 3;
}

main section#stack div.left p {
  
}

main section#stack div.left p#designparagraph {
  
}

main section#stack div.left p#{
  
}

main section#stack div.right{
  grid-column: 2;
  grid-row: 1;
}