/* 구글폰트 */
body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  /* 레이아웃 스타일링  */
  .wrap{
   /* 세로 정렬 */
  max-width: 1440px;
  margin: 0 auto;
   /* 좌우 간격 조정 */
  }
  .flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  height: 100%;
  }
  /* 텍스트 스타일링 */
  .h1{
    font-size:55px;
  }
  .h2{
    font-size:45px;
  }
  .h3{
    font-size:40px;
  }
  .h4{
    font-size:25px;
  }
  .h5{
    font-size:20px;
  }
  .h6{
    font-size:18px;
  }
  .p{
    font-size:16px;
  }
.xxs{
  font-size:10px !important;
}
/* 컬러 */
.white{
  color:white;
}